# Exasol Connection
EXASOL_HOST=localhost
EXASOL_PORT=8563
EXASOL_USER=sys
EXASOL_PASSWORD=exasol

# Google AI Studio API Key
GOOGLE_API_KEY=your_gemini_api_key_here
GOOGLE_API_KEY_FALLBACK_1=
GOOGLE_API_KEY_FALLBACK_2=

# Server
PORT=3001
NODE_TLS_REJECT_UNAUTHORIZED=0
